<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ .title }}</title>
  <style>html{font-size:16px;height:100%}body{font-family:"PingFang SC","Microsoft YaHei","Droid Sans Fallback",SimHei,Arial,Helvetica,tahoma,sans-serif;color:#888;margin:0}#main{display:table;width:100%;height:100vh;text-align:center}.title{display:table-cell;vertical-align:middle}.title h1{font-size:50px;display:inline-block;padding-right:12px}@media screen and (max-width: 767px){.title h1{font-size:5rem}}</style>
  <link rel="shortcut icon" type="image/png" href="//i.mazey.net/icon/fav/logo-dark-circle-transparent-144x144.png">
</head>
<body>
  <div id="main">
    <div class="title">
      <h1>{{ .title }}</h1>
    </div>
  </div>
</body>
</html>
